$dark-theme-bgColor: #121828;
$dark-theme-color: rgba(255, 255, 255, 0.8);
$dark-theme-borderColor: #5a5353;
$dark-theme-alert-bgColor: #252a37;
$dark-theme-link-hover-color: rgb(133, 133, 212);
$light-theme-borderColor: #ebe4e5;
$light-theme-sidebar-bgColor: #f4f6f8;
$light-theme-link-hover-color: blue;
$table-head-bgColor: #4e67af;

body {
    background-color: #FDEEDC;
    // max-height: 96vh;
}

// Projects Grid
#projects-grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;

	#project-card {
		text-align: center;
	}

	#project-card:hover {
		background-color: rgba(236, 226, 226, 0.2);
	}
}

// Playground
#playground {
	height: 92%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	.playground-items {
		border: 1px solid $light-theme-borderColor;
		border-radius: 5px;
		height: 300px;
	}

	#code-editor {
		border: none;
	}
}

// Table 
table, td {
	border: 1px solid black;
	text-align: center;
	width: 600px;
	thead {
		background-color: $table-head-bgColor;
		color: $dark-theme-color;
		font-weight: bold;
	}
	tr:nth-child(even) {
		background-color: #d3d3d3;
	}
	tr {
		cursor: pointer;
		font-weight: 600;
	}
	tbody > tr:hover {
		background-color: rgb(190, 180, 180);
	}
}

.sort-btn {
	cursor: pointer;
	margin-left: 5px;
	transition: transform 0.05s ease-out;
}

.sort-reverse {
	transform: rotate(180deg);
}

// LightMode
#light {
	background-color: white;

	#logo {
		border-bottom: 1px solid $light-theme-borderColor;
	}

	#side-bar {
		background-color: $light-theme-sidebar-bgColor;
		color: black;
		border-right: 1px solid $light-theme-borderColor;
		.sidebar-text:hover {
			cursor: pointer;
			background-color: #e6e6ff;
		}
	}

	#project-card {
		border: 1px solid $light-theme-borderColor;
	}

	.link:hover {
		color: $light-theme-link-hover-color;
	}
}

// Dark Mode
#dark {
	background-color: $dark-theme-bgColor;

	.link:hover {
		color: $dark-theme-link-hover-color;
	}

	#landing-page, #login, #signup {
		color: $dark-theme-color;
	}

	#toggle-switch {
		color: black;
	}

	#logo {
		border-bottom: 1px solid #3a3232;
	}

	#side-bar {
		color: rgba(255, 255, 255, 0.8);
		border-right: 1px solid #3a3232;
		.sidebar-text:hover {
			cursor: pointer;
			background-color: #2d2d32;
		}
	}
	
	#kensa-navbar {
		background-color: $dark-theme-bgColor;
		border-bottom: 1px solid #3a3232;
		
		#search-icon {
			color: #9f9191;
		}
		input {
			border: 1px solid #9f9191;
			color: $dark-theme-color;
		}
	}

	#monitor, #welcome {
		color: $dark-theme-color;
	}

	#project-card {
		color: $dark-theme-color;
		border: 1px solid #9f9191;
	}

	table{
		td {
			border: 1px solid $dark-theme-borderColor;
		}
		tr {
			background-color: $dark-theme-bgColor;
			color: $dark-theme-color;
		}
	}

	#playground-container {
		color: $dark-theme-color;
	}

	.alert {
		background-color: $dark-theme-alert-bgColor;
		color: $dark-theme-color;
		border: 1px solid $dark-theme-borderColor;
	}
}

// Hero Section on Landing Page
#renderedLogo {
	opacity: 1;
	transition: all 1.5s ease-in-out;
}

#unrenderedLogo {
	opacity: 0;
	transition: all 1s ease-in-out;
}