body {
    background-color: #FDEEDC;
    max-height: 96vh;
}

.secondary-container {
    border: 1px solid black;
}

#main-monitor {
    display: flex;

    &>div {
        width: 50%;
    }
}

#projects-container {
    display: flex;
}

.query-log {
    border: 1px solid brown;
}

.project-cards {
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

#delete-project {
    display: block;
}

#project-info {
    &>div {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
    }

    h4 {
        margin: 10px 0;
    }

    span {
        font-weight: normal;
    }

    button {
        padding: 5px;
    }
}

// Projects Grid
#projects-grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;

	#project-card {
		text-align: center;
	}

	#project-card:hover {
		background-color: rgba(236, 226, 226, 0.2);
	}
}

// Playground
#playground {
	height: 92%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	.playground-items {
		border: 1px solid #ebe4e5;
		border-radius: 5px;
		height: 300px;
	}

	#code-editor {
		border: none;
	}
}

// Table 
table, td {
	border: 1px solid black;
	text-align: center;
	width: 600px;
	thead {
		background-color: #4e67af;
		color: white;
		font-weight: bold;
	}
	tr:nth-child(even) {
		background-color: #d3d3d3;
	}
	tr {
		cursor: pointer;
		font-weight: 600;
	}
	tbody > tr:hover {
		background-color: rgb(190, 180, 180);
	}
}

.sort-btn {
	cursor: pointer;
	margin-left: 5px;
	transition: transform 0.05s ease-out;
}

.sort-reverse {
	transform: rotate(180deg);
}

// LightMode
#light {
	background-color: white;

	#logo {
		border-bottom: 1px solid #ebe4e5;
	}

	#side-bar {
		background-color: #f4f6f8;
		color: black;
		border-right: 1px solid #ebe4e5;
		.sidebar-text:hover {
			cursor: pointer;
			background-color: #e6e6ff;
		}
	}

	#project-card {
		border: 1px solid #c6bdbd;
	}
}

// Dark Mode
#dark {
	background-color: #121828;

	#landing-page, #login, #signup {
		color: white;
	}

	#toggle-switch {
		color: black;
	}

	#logo {
		border-bottom: 1px solid #3a3232;
	}

	#side-bar {
		color: rgba(255, 255, 255, 0.8);
		border-right: 1px solid #3a3232;
		.sidebar-text:hover {
			cursor: pointer;
			background-color: #2d2d32;
		}
	}
	
	#kensa-navbar {
		background-color: #121828;
		border-bottom: 1px solid #3a3232;
		
		#search-icon {
			color: #9f9191;
		}
		input {
			border: 1px solid #9f9191;
			color: white;
		}
	}

	#monitor, #welcome {
		color: rgba(255, 255, 255, 0.8);
	}

	#project-card {
		color: rgba(255, 255, 255, 0.8);
		border: 1px solid #9f9191;
	}

	table{
		td {
			border: 1px solid #5a5353;
		}
		tr {
			background-color: #121828;
			color: rgba(255, 255, 255, 0.8);
		}
	}

	#playground-container {
		color: rgba(255, 255, 255, 0.8);
	}
}

// Hero Section on Landing Page
#renderedLogo {
	opacity: 1;
	transition: all 1.5s ease-in-out;
}

#unrenderedLogo {
	opacity: 0;
	transition: all 1s ease-in-out;
}