$dark-theme-bgColor: #121828;
$dark-theme-color: rgba(255, 255, 255, 0.8);
$dark-theme-borderColor: #5a5353;
$dark-theme-alert-bgColor: #252a37;
$dark-theme-link-hover-color: rgb(133, 133, 212);
$light-theme-borderColor: #ebe4e5;
$light-theme-sidebar-bgColor: #f4f6f8;
$light-theme-link-hover-color: blue;
$table-head-bgColor: #4e67af;
$landing-page-bgColor: rgb(148, 107, 107);

* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #FDEEDC;
}

// Projects Grid
#projects-grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 40px;

	#project-card {
		text-align: center;
	}

	#project-card:hover {
		background-color: rgba(236, 226, 226, 0.2);
	}
}

// Playground
#playground {
	height: 100%;
	gap: 1rem;
	
	.playground-items {
		border: 1px solid $light-theme-borderColor;
		border-radius: 5px;
		height: 252px;
		width: 502px;
		margin-top: 10px;
	}

	#code-editor {
		border: none;
	}

	#log-dev {
		height: 550px;
		overflow: scroll;
		overflow-x: hidden;
	}

	#treeWrapper {
		color: white;
	}

	table {
		height: 100%;
		width: 100%;
	}
}


// Table 
table, td {
	border: 1px solid black;
	text-align: center;
	width: 600px;

	thead {
		background-color: $table-head-bgColor;
		color: $dark-theme-color;
		font-weight: bold;
	}

	tr:nth-child(even) {
		background-color: #d3d3d3;
	}

	tr {
		cursor: pointer;
		font-weight: 600;
		height: 20px;
	}

	tbody > tr:hover {
		background-color: rgb(190, 180, 180);
	}

	#delete-btn {
		text-align: center;
		font-size: 1.5rem;
	}
}

.sort-btn {
	cursor: pointer;
	margin-left: 5px;
	transition: transform 0.05s ease-out;
}

.sort-reverse {
	transform: rotate(180deg);
}

// LightMode
#light {
	background-color: white;

	#landing-page {
		background-color: $landing-page-bgColor;
	}

	#logo {
		border-bottom: 1px solid $light-theme-borderColor;
	}

	// .logo-text {
	// 	color: rgb(211, 132, 21);
	// }

	#kensa-navbar {
		border-bottom: 1px solid $light-theme-borderColor;
	}

	#side-bar {
		background-color: $light-theme-sidebar-bgColor;
		color: black;
		border-right: 1px solid $light-theme-borderColor;

		.sidebar-text:hover {
			cursor: pointer;
			background-color: #e6e6ff;
		}
	}

	#project-card {
		border: 1px solid $light-theme-borderColor;
	}

	.link:hover {
		color: $light-theme-link-hover-color;
	}

	#playground-error-message {
		color: red;
	}
}

// Dark Mode
#dark {
	background-color: $dark-theme-bgColor;

	#landing-page {
		background-color: $landing-page-bgColor;
		color: $dark-theme-color;
	}

	.spinner {
		color: $dark-theme-color;
	}

	.link:hover {
		color: $dark-theme-link-hover-color;
	}

	#login, #signup, #change-password-form {
		color: $dark-theme-color;
	}

	#toggle-switch {
		color: black;
	}

	#logo {
		border-bottom: 1px solid #3a3232;
	}

	#side-bar {
		color: rgba(255, 255, 255, 0.8);
		border-right: 1px solid #3a3232;

		.sidebar-text:hover {
			cursor: pointer;
			background-color: #2d2d32;
		}
	}
	
	#kensa-navbar {
		background-color: $dark-theme-bgColor;
		border-bottom: 1px solid #3a3232;
		
		#search-icon {
			color: #9f9191;
		}

		input {
			border: 1px solid #9f9191;
			color: $dark-theme-color;
		}
	}

	#monitor, #welcome {
		color: $dark-theme-color;
	}

	#project-card {
		color: $dark-theme-color;
		border: 1px solid #9f9191;
	}

	table{
		td {
			border: 1px solid $dark-theme-borderColor;
		}

		tr {
			background-color: $dark-theme-bgColor;
			color: $dark-theme-color;
		}
	}

	#playground-container {
		color: $dark-theme-color;
	}

	#playground-error-message {
		color: rgb(228, 138, 43);
	}

	.alert {
		background-color: $dark-theme-alert-bgColor;
		color: $dark-theme-color;
		border: 1px solid $dark-theme-borderColor;
	}

	#log-dev-alert {
		background-color: $dark-theme-alert-bgColor;
		color: $dark-theme-color;
		border: 1px solid $dark-theme-borderColor;
	}

	.node__root  {
		text {
			fill: $dark-theme-color
		}
	}

	.node__branch {
		text {
			fill: $dark-theme-color
		}
	}

	.node__leaf {
		text {
			fill: $dark-theme-color
		}
	}

	#treeWrapper-1 path {
		stroke: $dark-theme-color;
	}

	#treeWrapper path {
		stroke: $dark-theme-color;
	}
}

// Hero Section on Landing Page
#renderedLogo {
	opacity: 1;
	transition: all 1.5s ease-in-out;
}

#unrenderedLogo {
	opacity: 0;
	transition: all 1s ease-in-out;
}

// Styling for D3 Tree
.node__root {
	& > circle {
		fill: rgb(255, 140, 0);
		border-color: #2d2d32;
	}

	g {
		translate: -150px -25px;
	}
}

.node__branch {
	& > circle {
		fill: rgb(255, 158, 40);
		border-color: #2d2d32;
	}

	g {
	translate: -80px -25px;
	}
}

.node__leaf {
	& > circle {
		fill: rgb(255, 197, 50);
		border-color: #2d2d32;
	}

	g {
		translate: -50px -30px;
	}
}
